<% if logged_in? %>
  <div class="row">
    <div class="col-xs-8">
      <h1>タスクリスト</h1>
  
        <ul>
          
        <% @tasks.each do |task| %>
          
          <li>
            <%= link_to task.id, task %>
            :
            <%= task.status %>
             &gt;
            <%= task.content %>
          </li>
          
        <% end %>
          
        </ul>
  
  <%= link_to 'タスクを追加', new_task_path %>
    </div>
  </div>
<% else %>
  <div class="center jumbotron">
  <div class="text-center">
    <h1>タスク管理を始めよう！</h1>
    <%= link_to '登録', signup_path, class: 'btn btn-lg btn-primary' %>
    </div>
  </div>
<% end %>